/**
 * Minecraft Anti-Design Token System
 *
 * Import this file to access all design tokens in your SCSS modules.
 *
 * Usage:
 * @use "@/ui/tokens" as tokens;
 *
 * .myElement {
 *   @include tokens.shadow-lg;
 *   @include tokens.rotate-interactive;
 *   @include tokens.radius-quirky-md;
 * }
 */

@forward "./shadows";
@forward "./animations";
@forward "./patterns";
@forward "./rotations";
@forward "./borders";
@forward "./interactive";
@forward "./keyframes";
